<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/solEs1">
        <label for="fname">inserisci il nome di una scuola: </label>
        <input type="text" id="fname" name="scuola"><br><br>
        <input type="submit" avalue="vai avanti"></a>
    </form>
    {{indirizzo_statale|safe}}
</body>
</html>