<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Compito in classe</h1>
        <a href="{{ url_for('es1')}}"><h1>Esercizio 1:<br>tutte le informazioni su un cliente di cui si inserisce il nome e il cognome</h1></a><br><br><br>
        <a href="{{ url_for('es2')}}"><h1>Esercizio 2:<br>l'elenco dei clienti che risiedono in una certa città inserita dall'utente</h1></a><br><br><br>
        <!--<a href="{{ url_for('solEs3') }}"><h1>Esercizio 3:<br>tutte le informazioni su un cliente di cui si inserisce il nome e il cognome</h1></a><br><br><br>
        <a href="{{ url_for('es4') }}"><h1>Esercizio 4:<br>tutte le informazioni su un cliente di cui si inserisce il nome e il cognome</h1></a><br><br><br>
        <a href="{{ url_for('solEs5') }}"><h1>Esercizio 5:<br>tutte le informazioni su un cliente di cui si inserisce il nome e il cognome</h1></a><br><br><br>
        <a href="{{ url_for('solEs6') }}"><h1>Esercizio 6:<br>tutte le informazioni su un cliente di cui si inserisce il nome e il cognome</h1></a><br><br><br>-->
    </center>
</body>
</html>